<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="error.css">
    <title>Erro</title>
</head>
<body>
    <h1> ERRO <img width="16" height="16" src="https://img.icons8.com/office/16/error.png" alt="error"/></h1>
    <marquee>
        <p><%= message %> <%= message %><%= message %><%= message %><%= message %></p>
    </marquee>
</body>
</html>
